{% extends 'base.html' %}
{% load bootstrap3 %}
{% load django_markdown %}
{% block content %}
{% block blog_entries %}
{% if object_list %}
<div class="post">
{% for object in object_list %}
    <h2><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <p class="meta">
     {{object.created}}
    </p>
    {{object.body|markdown|truncatewords_html:10}}
    <button type="button" class="btn btn-primary"><a style="color: white;" href="{% url "entry_detail" slug=object.slug %}">Read more</a></button>
 {% endfor %}
 </div>
 {% else %}
 <i class="fa fa-exclamation fa-6" aria-hidden="true"></i>
 <p>
   No Blog Posts  :(
 </p>
 {% endif %}
 {% endblock %}
{% endblock %}
